<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<script src="/webjars/axios/0.18.0/dist/axios.min.js"></script>
	<script src="/webjars/vue/2.5.17/dist/vue.js" ></script>

	<style>
		.stdlog { max-height: 500px }
	</style>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="stepper :: stepper(step = 2)"></div>

	<div class="row">
		<div class="col-sm-1">
			<a th:href="@{/010-talk-choice}" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
		</div>
		<div class="col-sm-10 text-center">
			<h2 th:text="${talk.talk}"></h2>
			<p class="text-muted font-italic">
				<span th:each="s : ${talk.speakers}">
					<span th:if="${!sStat.first}"> - </span>
					<span th:text="${s.name}">John Snow</span>
				</span>
			</p>
		</div>
	</div>

	<div id="vue">

		<div class="row mb-3" v-if="!firstRun">
			<div class="col-sm text-center">
				<button class="btn btn-primary btn-lg" @click="startNageru()">Lancer le preview</button>
			</div>
		</div>

		<div class="row mb-3" v-else>
			<div class="col-sm text-center">
				<button class="btn btn-outline-success btn-lg" @click="startNageru()">Relancer le preview</button>
				<button class="btn btn-success btn-lg">Voir le preview</button>
				<button class="btn btn-primary btn-lg">Passer au live</button>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="log">
{{log.join('\n')}}
				</pre>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#vue',
			data: {
				firstRun: false,
				log: []
			},

			created() {
				this.connectToWS()
			},

			methods: {
				connectToWS() {
					ws.sub('/nageruOut', msg => {
						let body = msg.body
						if (body === '---- NEW STREAM ----') {
							this.log = []
						}

						this.log.push(body)

						//limit number of lines
						if (this.log.length > 100) {
							this.log.splice(0, this.log.length - 100)
						}

						//scroll log at bottom
						let log = this.$refs.log;
						log.scrollTop = log.scrollHeight;
					})
				},

				startNageru() {
					axios.post('/preview/start').then(() => {
						this.firstRun = true
					})
				},

				startVlc() {
				},

				goLive() {
				}
			}
		})
	</script>

</div>
</body>
</html>