<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<script src="/webjars/axios/0.18.0/dist/axios.min.js"></script>
	<script src="/webjars/vue/2.5.17/dist/vue.js" ></script>
	<script src="/static/js/lib.js" th:src="@{/js/lib.js}"></script>

	<style>
		.stdlog { max-height: 300px }
	</style>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="stepper :: stepper(step = 3)"></div>

	<div class="row">
		<div class="col-sm-1">
			<a th:href="@{/020-preview}" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
		</div>
		<div class="col-sm-10 text-center">
			<h2 th:text="${talk.talk}"></h2>
			<p class="text-muted font-italic">
				<span th:each="s : ${talk.speakers}">
					<span th:if="${!sStat.first}"> - </span>
					<span th:text="${s.name}">John Snow</span>
				</span>
			</p>
		</div>
	</div>

	<div id="vue">

		<div class="row mb-3">
			<div class="col-sm text-center" v-if="!firstRun">
				<button class="btn btn-primary btn-lg" @click="start()">Démarrer l'enregistrement</button>
			</div>
			<div class="col-sm text-center" v-else>
				<button class="btn btn-warning btn-lg" @click="start()">RELANCER</button>
			</div>


			<div class="col-sm text-center" v-if="files.length > 0">
				<a class="btn btn-outline-primary btn-lg" th:href="@{/010-talk-choice}">Enchainer avec un nouveau talk</a>
				<button class="btn btn-primary btn-lg" @click="exportTalk()">Exporter le talk</button>
			</div>
		</div>

		<div class="row mb-3" v-if="files.length > 0">
			<h4>Selectionnez les fichiers à exporter :</h4>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Fichier</th>
					<th scope="col">Taille</th>
					<th scope="col">Durée</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="(f, idx) in files" :class="{ 'table-active': f.selected }" @click="selectFile(f)">
					<td>{{ idx + 1 }}</td>
					<td>{{ f.name }}</td>
					<td>{{ f.size | formatBytes }}</td>
					<td>{{ f.duration }}</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="row mb-3" v-if="log.length > 0">
			<div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="logPre">
{{log.join('\n')}}
				</pre>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#vue',
			data: {
				firstRun: false,
				nageruRunning: false,
				log: [],
				files: [],
				timeout: null
			},

			created() {
				this.loadFiles()
				this.connectToWS()
			},

			methods: {
				connectToWS() {
					ws.sub('/nageruOut', msg => {
						let body = msg.body
						if (body === '---- NEW STREAM ----') {
							this.log = []
							this.nageruRunning = true;
							this.loadFiles();

						} else if (body === '---- END STREAM ----') {
							this.nageruRunning = false;
							this.loadFiles();
						}

						this.log.push(body)

						//limit number of lines
						if (this.log.length > 100) {
							this.log.splice(0, this.log.length - 100)
						}

						//scroll log at bottom
						let log = this.$refs.logPre;
						if (log) log.scrollTop = log.scrollHeight;
					})
				},

				selectFile(f) {
					Vue.set(f, 'selected', !f.selected)
				},

				start() {
					axios.post('/live/start').then(() => {
						this.firstRun = true
					})
				},

				exportTalk() {
				},


				loadFiles() {
					if (this.timeout) {
						clearTimeout(this.timeout)
						this.timeout = null
					}

					axios.get('/live/files').then(res => {
						this.updateFiles(res.data)
					})
				},

				updateFiles(newFiles) {
					this.files = updateOnlyNewFiles(this.files, newFiles, this.updateFile)
					this.files.sort((f1, f2) => { return f1.name < f2.name ? -1 : f1.name > f2.name })

					if (this.nageruRunning) {
						this.timeout = setTimeout(() => this.loadFiles(), 10000)
					}
				},

				updateFile(file, newFile) {
					if (newFile) {
						Vue.set(file, 'lastModified', newFile.lastModified)
					} else {
						file.selected = true //selected by default
					}

					// axios.get('/live/duration', { params: { file: file.path + '/' + file.name }}).then(res => {
					// 	Vue.set(file, 'duration', res.data)
					// })
				},

			},

			filters: {
				formatBytes (bytes, decimals) {
					if (bytes === 0) return '0 o';
					var k = 1024,
						dm = decimals <= 0 ? 0 : decimals || 1,
						sizes = ['o', 'Ko', 'Mo', 'Go', 'To', 'Po', 'Eo', 'Zo', 'Yo'],
						i = Math.floor(Math.log(bytes) / Math.log(k));
					return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
				}
			}
		})
	</script>

</div>
</body>
</html>