<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<script src="/webjars/axios/0.18.0/dist/axios.min.js"></script>
	<script src="/webjars/moment/2.22.2/min/moment-with-locales.min.js"></script>
	<script src="/webjars/moment-duration-format/2.2.2/lib/moment-duration-format.js"></script>
	<script src="/webjars/vue/2.5.17/dist/vue.js" ></script>
	<script src="/static/js/lib.js" th:src="@{/js/lib.js}"></script>

	<style>
		.stdlog { max-height: 400px }
		.pgbar {
			height: 40px;
			font-size: 25px;
		}
	</style>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="stepper :: stepper(step = 4)"></div>

	<div class="row">
		<div class="col-sm-1">
			<a th:href="@{/030-live}" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
		</div>
		<div class="col-sm-10 text-center">
			<h2 th:text="${talk.talk}"></h2>
			<p class="text-muted font-italic">
				<span th:each="s : ${talk.speakers}">
					<span th:if="${!sStat.first}"> - </span>
					<span th:text="${s.name}">John Snow</span>
				</span>
			</p>
		</div>
	</div>

	<div id="vue">
		<div class="row mb-3">
			<div class="col-md-12">
				<h4 v-if="ffmpegRunning">Export en cours...</h4>
				<h4 v-if="!ffmpegRunning && progress < 100">Export en attente...</h4>
				<h4 v-if="!ffmpegRunning && progress == 100">Export terminé</h4>

				<div class="progress pgbar">
					<div class="progress-bar" role="progressbar"
						 v-bind:class="progressBarStyle" v-bind:style="{ width: progress + '%' }" >
						{{progress}}%
					</div>
				</div>
			</div>
		</div>


		<div class="row mb-3" v-if="log.length > 0">
			<div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="logPre">
{{log.join('\n')}}
				</pre>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#vue',
			data: {
				log: [],
				ffmpegRunning: false,
				progress: 10,
				duration: null
			},

			created() {
				this.connectToWS()
			},

			computed: {
				progressBarStyle() {
					return {
						'progress-bar-animated': this.ffmpegRunning,
						'progress-bar-striped': this.ffmpegRunning,
						'bg-info': !this.ffmpegRunning && this.progress < 100,
						'bg-success': !this.ffmpegRunning && this.progress === 100
					}
				}
			},

			methods: {
				connectToWS() {
					ws.onConnect(() => {
						axios.post('/export/start').then(res => {
							this.duration = moment.duration(res.data).asMilliseconds()
							console.log(this.duration)
						})

					}).sub('/040-ffmpeg-export-out', msg => {
						let body = msg.body
						if (body === '---- NEW STREAM ----') {
							this.log = []
							this.ffmpegRunning = true

						} else if (body === '---- END STREAM ----') {
							this.ffmpegRunning = false
						}

						this.log.push(body)

						//limit number of lines
						if (this.log.length > 100) {
							this.log.splice(0, this.log.length - 100)
						}

						//scroll log at bottom
						let log = this.$refs.logPre
						if (log) log.scrollTop = log.scrollHeight

					}).sub('/040-ffmpeg-export-progress', msg => {
						console.log(msg)
					})
				},
			}
		})
	</script>

</div>
</body>
</html>