<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Camaaloth launcher</title>

	<script src="/webjars/webstomp-client/1.2.4/dist/webstomp.min.js" th:src="@{/webjars/webstomp-client/1.2.4/dist/webstomp.min.js}"></script>
	<script src="/webjars/sockjs-client/1.1.5/dist/sockjs.min.js" th:src="@{/webjars/sockjs-client/1.1.5/dist/sockjs.min.js}"></script>
	<script src="/static/js/connect-stomp.js" th:src="@{/js/connect-stomp.js}"></script>

</head>
<body>

<div class="container">
	<div layout:fragment="content">
	</div>
</div>

</body>
</html>